.details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.count {
    width: 1.5rem;
    height: 1.5rem;
}
.box {
    margin: 10px;
}

.container {
    background: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.delete {
    color: red;
    cursor: pointer;
}

.btn-checkout {
    background-color: #001a33;
    height: 15px;
    width:30px;
    color: white;
    text-decoration: none;
}